* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Hanken";
  src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
  background-color: #bbb5b5;
}

.container {
  background-color: #ffff;
  margin: 15%;
  border: 1px solid rgb(250, 250, 250);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.result_card {
  min-width: 200px;
  background-color: #4534f2;
  border-radius: 15px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.summary_card {
  min-width: 200px;
  font-family: "Hanken";
  background-color: white;
  margin: 10px;
  flex-grow: 1;
}

#your_result {
  margin: 20px;
  font-size: 22px;
  color: #cfccff;
}

.circle {
  border-radius: 60%;
  padding: 50px 60px;
  background-color: hsla(256, 72%, 46%, 1);
}

#result_average {
  font-family: "Hanken";
  color: white;
  font-weight: bold;
  font-size: 60px;
}
#under {
  font-family: "Hanken";
  color: #ffff;
  text-align: center;
  opacity: 0.5;
}
#word {
  font-family: "Hanken";
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 10px;
}
#info {
  font-family: "Hanken";
  font-size: 18px;
  text-align: center;
  padding: 10px 50px;
  color: #c6c3ff;
}

#title {
  padding: 10px;
}

.elements {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
img {
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.element {
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 6px;
  display: flex;
  gap: 10px;
}

#reaction {
  background-color: hsl(0, 100%, 67%, 0.2);
  color: hsl(0, 100%, 67%);
}

#memory {
  display: flex;
  background-color: hsl(39, 100%, 56%, 0.2);
  color: hsl(39, 100%, 56%);
}

#verbal {
  display: flex;
  background-color: hsl(166, 100%, 37%, 0.2);
  color: hsl(166, 100%, 37%);
}

#visual {
  display: flex;
  background-color: hsl(234, 85%, 45%, 0.2);
  color: hsl(234, 85%, 45%);
}

.score {
  color: black;
  margin-left: auto;
}

#continue_btn {
  background-color: #303b59;
  color: #f9ffff;
  font-size: 20px;
  border-radius: 20px;
  padding: 14px 8px;
  margin: 20px;
}
#continue_btn:hover {
  cursor: pointer;
  background-color: #543bf7;
}
